@model SampleSecureWeb.ViewModels.ChangePasswordViewModel

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Change Password
            </div>
            <div class="card-body">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mb-2">
                        <label for="CurrentPassword">Current Password</label>
                        <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="New Password" id="NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                        @* Indikator kekuatan password *@
                        <span id="passwordStrength" class="text-info"></span>

                        @* Checkbox Centang Tampilkan/Sembunyikan Kata Sandi *@
                        <div style="margin-top: 10px;">
                            <input type="checkbox" id="showNewPassword" /> Show Password
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <input type="submit" class="btn btn-primary" value="Change Password" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var newPasswordInput = document.getElementById('NewPassword');
        var confirmPasswordInput = document.getElementById('ConfirmPassword');
        var passwordStrength = document.getElementById('passwordStrength');
        var showNewPassword = document.getElementById('showNewPassword');

        newPasswordInput.addEventListener('input', function () {
            var password = newPasswordInput.value;
            var strengthText = '';
            var strengthColor = '';

            if (password.length < 12) {
                strengthText = 'Weak';
                strengthColor = 'red';
            } else if (!/(?=.*[a-z])(?=.*[A-Z])(?=.*\d)/.test(password)) {
                strengthText = 'Medium';
                strengthColor = 'orange';
            } else if (/[^a-zA-Z0-9]/.test(password)) {
                strengthText = 'Very Strong';
                strengthColor = 'green';
            } else {
                strengthText = 'Strong';
                strengthColor = 'blue';
            }
            //Menampilkan kekuatan password pada elemen passwordStrength
            passwordStrength.textContent = `Password Strength: ${strengthText}`;
            passwordStrength.style.cssText = `color: ${strengthColor} !important; font-weight: bold;`;
        });

        showNewPassword.addEventListener('change', function () {
            if (showNewPassword.checked) {
                newPasswordInput.type = 'text';
                confirmPasswordInput.type = 'text';
            } else {
                newPasswordInput.type = 'password';
                confirmPasswordInput.type = 'password';
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
